<!DOCTYPE html>
<html>
<head>
    <title>Input Tweet</title>
</head>
<body>
    <h2>Enter Tweet Information</h2>
    <form method="post">
        Year: <input type="text" name="year" required><br><br>
        Month: <input type="text" name="month" required><br><br>
        Day: <input type="text" name="day" required><br><br>
        Time of Tweet: <input type="text" name="time_of_tweet" required><br><br>
        Platform: <input type="text" name="platform" required><br><br>
        Text: <textarea name="text" rows="4" cols="40" required></textarea><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
